body{
	padding-top: 60px;
	padding-bottom: 0;
}

.container{
	max-width: 800px;
}

.bg-midWarning {
  background-color: #F2B2B2;
}
.table > thead > tr > td.midWarning,
.table > tbody > tr > td.midWarning,
.table > tfoot > tr > td.midWarning,
.table > thead > tr > th.midWarning,
.table > tbody > tr > th.midWarning,
.table > tfoot > tr > th.midWarning,
.table > thead > tr.midWarning > td,
.table > tbody > tr.midWarning > td,
.table > tfoot > tr.midWarning > td,
.table > thead > tr.midWarning > th,
.table > tbody > tr.midWarning > th,
.table > tfoot > tr.midWarning > th {
  background-color: #F2B2B2;
}
.alert-midWarning {
  color: #ff8080;
  background-color: #F2B2B2;
  border-color: #ebccd1;
}
.list-group-item-midWarning {
  color: #ff8080;
  background-color: #F2B2B2;
}
.panel-midWarning > .panel-heading {
  color: #ff8080;
  background-color: #F2B2B2;
  border-color: #ebccd1;
}
.panel-midWarning > .panel-heading .badge {
  color: #F2B2B2;
  background-color: #ff8080;
}

.table-hover > tbody > tr > th.midWarning:hover,
.table-hover > tbody > tr.midWarning:hover > td,
.table-hover > tbody > tr:hover > .midWarning,
.table-hover > tbody > tr.midWarning:hover > th {
  background-color: #EB8383;
}
a.list-group-item-midWarning:focus,
button.list-group-item-midWarning:focus {
  color: #a94442;
  background-color: #ebcccc;
}

.label-midWarning {
  background-color: #ff8080;
}
.label-midWarning[href]:hover,
.label-midWarning[href]:focus {
  background-color: #EB8383;
}

.logo {
	height: 100px;
	padding : 10px;
}

#content {
	padding: 0;
	margin: 0;
	min-height: calc(100vh - 90px);

}

input[type="number"] {
   width:60px;
}
